---
layout: default
bodyid: post
---

<article>

  <h1>{{ title }}</h1>

  <div class="post-info">
    <a class="header-anchor ui" href="{{ url }}">{% heroicon "outline", "link" %}</a>
    <small>{% heroicon "outline", "calendar" %} Published on <time>{{ date | readableDate }}</time></small>
  </div>

  <div class="post-content text-font">
    {{ content | safe }}
  </div>

  {% set next = collections.post | getPreviousCollectionItem(page) %}
  {% set prev = collections.post | getNextCollectionItem(page) %}

</article>

<hr>

{% if prev or next %}
  <nav id="post-navigation">
    {% if prev %}
      <a href="{{ prev.url }}">{% heroicon "outline", "chevron-left" %}<span>{{ prev.data.title }}</span></a>
    {% endif %}
    <div class="separator"></div>
    {% if next %}
      <a href="{{ next.url }}"><span>{{ next.data.title }}</span>{% heroicon "outline", "chevron-right" %}</a>
    {% endif %}
  </nav>
{% endif %}
