---
layout: default
---

<div id="description" class="text-block">
  {% renderFile "./src/en/content/homepage-description.md" %}
</div>

<div id="orgs-list">
  <h2>Member organizations:</h2>
  <ul>
    {% for region in orgs.regions %}
    <li>
      <h3 class="region-name">{% i18n region.name %}</h3>
      <ul class="region-list">
        {% for org in region.orgs %}
        <li>
          <a href="{{ org.link }}">{{ org.name }}</a>
          {% if org.location %}
          <span class="org-location">({{ org.location }})</span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="bottom-text" class="text-block">
  {% renderFile "./src/en/content/homepage-bottom-text.md" %}
</div>
