@font-face {
  font-family: 'Synonym';
  font-style: normal;
  font-weight: 200 700;
  font-display: block;
  src:
    url('assets/fonts/Synonym-Variable.woff2') format('woff2-variations'),
    url('assets/fonts/Synonym-Regular.woff2') format('woff2');
}

@each $weight, $w in (Extralight, Bold), (200, 700) {
  @font-face {
    font-family: 'Synonym';
    font-style: normal;
    font-weight: $(w);
    font-display: block;
    src:
      url('assets/fonts/Synonym-Variable.woff2') format('woff2-variations'),
      url('assets/fonts/Synonym-$(weight).woff2') format('woff2');
  }
}
