#orgs-list {
  margin: 0 auto;
  font-size: 1.25rem;

  .region-name {
    margin-bottom: 0.2rem;

    & + ul {
      margin-bottom: 1.4rem;

      & > li > span {
        font-size: 0.85em;
        font-style: italic;
      }
    }
  }
}
