:root {
  /* Text colors */
  --container-text: #151515;
  --container-link-bg: #eee;
  --container-link-hover: #e7382d;
  --footer-text: #eee;
  --footer-link-hover: #fcbb42;
}

body {
  font-size: 18px;
  font-family: Synonym, courier, monospace;
  font-weight: 415;
  line-height: 1.6;
}

h1,
h2 {
  text-align: center;
}

a {
  position: relative;
  bottom: -0.06em;
  padding: 0.025em 0.3em 0.06em;
  font-weight: 445;
}

#container {
  color: var(--container-text);

  & a {
    color: var(--container-text);
    background-color: var(--container-link-bg);

    &:hover,
    &:focus {
      color: var(--container-bg);
      background-color: var(--container-link-hover);
    }
  }
}

#footer {
  text-align: right;
  color: var(--footer-text);

  & a {
    color: var(--footer-text);
    background-color: var(--footer-bg);

    &:hover,
    &:focus {
      color: var(--footer-bg);
      background-color: var(--footer-link-hover);
    }
  }
}

#lang-switcher {
  select {
    font-size: 0.9rem;
    font-weight: 440;
    color: var(--footer-text);
  }

  option {
    font-size: 1rem;
    font-weight: 460;
  }
}

.text-block > *:last-child {
  margin-bottom: 0;
}
