<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% set sitedescription = 'sitedesc' | i18n %} {% metagen title=title+' |
    '+siteinfo.title if title else siteinfo.title, desc=description if
    description else sitedescription, url='https://'+siteinfo.url+page.url %}

    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

    <link rel="stylesheet" href="/style.css" />

    <script defer src="/script.js"></script>
    <script
      defer
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>
  <body>
    <script>
      const sel = document.querySelector('#lang-select');
      sel.addEventListener('change', (ev) => {
        window.location.href = ev.target.value;
      });
    </script>
    <div id="container">
      <div id="header">
        {% if not hideLogo %}
        <img src="/assets/img/logo.png" alt="Game Workers Coalition" />
        {% endif %}
      </div>

      <main id="content">{{ content | safe }}</main>

      <div id="footer">
        <div id="lang-switcher">
          <select id="lang-select">
            <option value="{{ page.url }}">{{ page.lang | i18n }}</option>
            {% for link in page.url | locale_links %}
            <option value="{{link.url}}">{{link.label}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user) => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
            });
          }
        });
      }
    </script>
  </body>
</html>
